@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #1f2023;
}
header{
    text-align: left;
    height: 100px;
   /*  position: relative; */
    background-color: #27282d;
    border: solid 2px #333;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 200px;
    height: 150px;
    padding: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
}
main{
    padding-top: 60px;
    background-color: #1f2023;
    width: 80%;
    margin: 0 auto;
}
h1{
    display: inline;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    padding: 15px 30px;
}
.card {
    margin: 0 auto;
    width: 90%;
    background-color: #212121;
    box-shadow: 10px 10px 25px #262626,
                 -10px -10px 25px #363636;
}
   
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 !important;
    padding: 20px !important;
}
.botones{
    width: 100%;
}
input{
    background-color: #27282d !important;
}

.ingreso{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: top;
}
.parrafo{
    width: 50%;
    height: 100%;
    padding: 30px;
    text-align: right;
}
#generaTop3{
    display: grid;
    grid-template-areas: 'texto tabla';
    grid-template-columns: 40% auto;
    gap: 40px;
    border-top: 1px solid rgb(212, 212, 212);
    margin-top: 30px;
    padding: 30px;
}
.top3-p-btn{
    grid-area: texto;
}
.top3-tabla{
    grid-area: tabla;
}
.selects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.desafios, .asistencias{
    width: 50%;
}
th, td{
    text-align: center;
}

.tablas{
    padding: 20px;
    margin: 0 30px;
}

.textoTop3{ 
    padding-top: 10px;
}
.textoTop3 strong{
    display: block;
}
.msjError{
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 20px auto 0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 5px inset rgba(111, 8, 8, 0.355);
}
#tablaTOP, #table{
    background-color: #212529;
    border-radius: 10px;
}
.borrar-alumno{
    display: inline-block;
    text-decoration: none;
    width: 75%;
    height: 100%;
    text-align: center;
    background-color: transparent !important;
    margin: 3px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 1px rgb(103, 103, 103);
}
.borrar-alumno:hover{
    border: solid 1px red;

}
