body{
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url('../assets/bg-js.jpg');
    background-size: cover;
}
header{
    padding: 20px;
}
h1{
    display: inline;
    color: white;
    border-radius: 0 0 30px 30px;
    padding: 50px;
    letter-spacing: 2px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 !important;
    padding: 20px !important;
}
.botones{
    width: 100%;
}
input{
    background-color: black !important;
    background-size: contain;
}

.ingreso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}
#generaTop3{
    display: grid;
    grid-template-areas: 'texto tabla';
    grid-template-columns: 40% auto;
    gap: 40px;
    border-top: 1px solid rgb(212, 212, 212);
    margin-top: 30px;
    padding: 30px;
}
.top3-p-btn{
    grid-area: texto;
}
.top3-tabla{
    grid-area: tabla;
}
.selects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.desafios, .asistencias{
    width: 50%;
}
th, td{
    text-align: center;
}

.tablas{
    padding: 20px;
    margin: 0 30px;
}

.textoTop3{ 
    padding-top: 10px;
}
.textoTop3 strong{
    display: block;
}
.msjError{
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 20px auto 0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 5px inset rgba(111, 8, 8, 0.355);
}
#tablaTOP, #table{
    background-color: rgba(0, 0, 0, 0.371);
    border-radius: 10px;
}
.borrar-alumno{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent !important;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.borrar-alumno:hover{
    background-color: rgba(255, 255, 255, 0.074) !important;

}
